<!DOCTYPE html>
<html>
  <head>
    <title>HomePate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user._id %></h1>
    <p>EJS Welcome to <%= user.username %></p>

    <div><a href="/logout">Logout</a></div>
    
  </body>
</html>
